<div class="parent">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head>
  <div class="main">
    <div class="image">
      <form [formGroup]="frm" (ngSubmit)="editUpload()">
          <label for="chk" aria-hidden="true">Edit</label>
          <input type="text" class="form-control" formControlName="caption" placeholder="Caption" required>
          <!-- <div *ngIf="(f['caption'].touched || f['caption'].dirty) && f['caption'].invalid">
            <div class="text-danger text-center" *ngIf="f['caption'].errors?.['required']" >Caption is required</div>
          </div> -->
          <input type="text" class="form-control" formControlName="comment" placeholder="Summary">
        <button type="submit" [disabled]="frm.invalid">Submit</button>
        <button type="button" (click)="goBack()">Cancel</button>
      </form>
    </div>
  </div>
</div>
