.parent{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}
a:hover {
    color: #6d44b8;
}
button:hover{
	color: #6d44b8;
}